* {
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
}

.clock {
  text-align: center;
  border-radius: 30px;
  font-size: 40px;
  color: white;
  z-index: 100;
}
